# Local
# VITE_API_URL=http://localhost:4300
# VITE_WS_URL=http://localhost:4300

# Producción (Azure)
VITE_API_URL=https://lumina-ahhzckcmckb8dwc2.chilecentral-01.azurewebsites.net
VITE_WS_URL=https://lumina-ahhzckcmckb8dwc2.chilecentral-01.azurewebsites.net
